In [19]:
import pandas as pd

In [20]:
path = 'Resources/cities.csv'
cities = pd.read_csv(path)
cities

,Unnamed: 0,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,ribeira grande,38.5167,-28.7000,294.37,78,20,4.63,PT,1622913894
1,1,punta arenas,-53.1500,-70.9167,277.21,87,20,3.38,CL,1622913896
2,2,busselton,-33.6500,115.3333,286.53,79,16,5.01,AU,1622913898
3,3,upernavik,72.7868,-56.1549,276.16,84,56,1.16,GL,1622913899
4,4,ushuaia,-54.8000,-68.3000,274.94,80,40,1.54,AR,1622913822
5,5,saint-philippe,-21.3585,55.7679,296.90,84,44,2.24,RE,1622913904
6,6,rosita,13.9268,-84.4032,304.87,56,78,1.64,NI,1622913905
7,7,port alfred,-33.5906,26.8910,289.59,83,0,6.39,ZA,1622913699
8,8,bredasdorp,-34.5322,20.0403,284.77,87,0,0.98,ZA,1622913910
9,9,cabo san lucas,22.8909,-109.9124,310.82,37,1,4.12,MX,1622913861
10,10,nanortalik,60.1432,-45.2371,280.81,66,98,5.30,GL,1622913913
11,11,pevek,69.7008,170.3133,278.82,92,100,5.43,RU,1622913915
12,12,eyl,7.9803,49.8164,300.40,78,51,9.76,SO,1622913916
13,13,luderitz,-26.6481,15.1594,293.23,39,0,3.91,NaN,1622913919
14,14,mataura,-46.1927,168.8643,277.37,95,52,0.23,NZ,1622914178
15,15,alugan,12.2188,125.4808,298.73,89,99,1.88,PH,1622913794
16,16,klaksvik,62.2266,-6.5890,283.66,90,55,5.88,FO,1622913924
17,17,bluff,-46.6000,168.3333,282.18,69,90,3.39,NZ,1622913925

In [21]:
table = cities.to_html()

In [23]:
print(table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>City</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Max Temp</th>
      <th>Humidity</th>
      <th>Cloudiness</th>
      <th>Wind Speed</th>
      <th>Country</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>ribeira grande</td>
      <td>38.5167</td>
      <td>-28.7000</td>
      <td>294.37</td>
      <td>78</td>
      <td>20</td>
      <td>4.63</td>
      <td>PT</td>
      <td>1622913894</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>punta arenas</td>
      <td>-53.1500</td>
      <td>-70.9167</td>
      <td>277.21</td>
      <td>87</td>
      <td>20</td>
      <td>3.38</td>
      <td>CL</td>
      <td>1622913896</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>busselton</td>
      <td>-33.6500</td>
      <td>115.3333</td>
      <td>286.53</td>
      <td>79</td>
      <td>16</td>
      <td>5.01</td>
      <td>AU</td>
      <td>1622913898</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>upernavik</td>
      <td>72.7868</td>
      <td>-56.1549</td>
      <td>276.16</td>
      <td>84</td>
      <td>56</td>
      <td>1.16</td>
      <td>GL</td>
      <td>1622913899</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>ushuaia</td>
      <td>-54.8000</td>
      <td>-68.3000</td>
      <td>274.94</td>
      <td>80</td>
      <td>40</td>
      <td>1.54</td>
      <td>AR</td>
      <td>1622913822</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>saint-philippe</td>
      <td>-21.3585</td>
      <td>55.7679</td>
      <td>296.90</td>
      <td>84</td>
      <td>44</td>
      <td>2.24</td>
      <td>RE</td>
      <td>1622913904</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>rosita</td>
      <td>13.9268</td>
      <td>-84.4032</td>
      <td>304.87</td>
      <td>56</td>
      <td>78</td>
      <td>1.64</td>
      <td>NI</td>
      <td>1622913905</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>port alfred</td>
      <td>-33.5906</td>
      <td>26.8910</td>
      <td>289.59</td>
      <td>83</td>
      <td>0</td>
      <td>6.39</td>
      <td>ZA</td>
      <td>1622913699</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>bredasdorp</td>
      <td>-34.5322</td>
      <td>20.0403</td>
      <td>284.77</td>
      <td>87</td>
      <td>0</td>
      <td>0.98</td>
      <td>ZA</td>
      <td>1622913910</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>cabo san lucas</td>
      <td>22.8909</td>
      <td>-109.9124</td>
      <td>310.82</td>
      <td>37</td>
      <td>1</td>
      <td>4.12</td>
      <td>MX</td>
      <td>1622913861</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>nanortalik</td>
      <td>60.1432</td>
      <td>-45.2371</td>
      <td>280.81</td>
      <td>66</td>
      <td>98</td>
      <td>5.30</td>
      <td>GL</td>
      <td>1622913913</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>pevek</td>
      <td>69.7008</td>
      <td>170.3133</td>
      <td>278.82</td>
      <td>92</td>
      <td>100</td>
      <td>5.43</td>
      <td>RU</td>
      <td>1622913915</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>eyl</td>
      <td>7.9803</td>
      <td>49.8164</td>
      <td>300.40</td>
      <td>78</td>
      <td>51</td>
      <td>9.76</td>
      <td>SO</td>
      <td>1622913916</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>luderitz</td>
      <td>-26.6481</td>
      <td>15.1594</td>
      <td>293.23</td>
      <td>39</td>
      <td>0</td>
      <td>3.91</td>
      <td>NaN</td>
      <td>1622913919</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>mataura</td>
      <td>-46.1927</td>
      <td>168.8643</td>
      <td>277.37</td>
      <td>95</td>
      <td>52</td>
      <td>0.23</td>
      <td>NZ</td>
      <td>1622914178</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>alugan</td>
      <td>12.2188</td>
      <td>125.4808</td>
      <td>298.73</td>
      <td>89</td>
      <td>99</td>
      <td>1.88</td>
      <td>PH</td>
      <td>1622913794</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>klaksvik</td>
      <td>62.2266</td>
      <td>-6.5890</td>
      <td>283.66</td>
      <td>90</td>
      <td>55</td>
      <td>5.88</td>
      <td>FO</td>
      <td>1622913924</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>bluff</td>
      <td>-46.6000</td>
      <td>168.3333</td>
      <td>282.18</td>
      <td>69</td>
      <td>90</td>
      <td>3.39</td>
      <td>NZ</td>
      <td>1622913925</td>
    </tr>
  </tbody>
</table>